---
layout: base
stylesheet: landing.css
---
<main>
	<section class="hero">
		<img id="logo" src="{{ "/assets/img/logo.svg" | relative_url }}"/>
		<div>
			<img id="logotype" src="{{ "/assets/img/logotype.svg" | relative_url }}"/>
			<div class="quote">
				<p>If you know the enemy and know yourself, you need not fear the result of a hundred battles.</p>
				<p class="attribution">Sun Tsu, The Art of War</p>
			</div>
		</div>
	</section>

	<section class="about">
		<p>Quartersbrief displays tailored information about the ships in your battle, giving you the edge you need for victory.</p>
		<div>
			<a class="button" href="introduction.html">Learn more</a>
			<a class="button solid" href="download.html">Download</a>
		</div>
	</section>

	<section class="posts">
		<h2><a href="{{ "/blog" | relative_url }}">Blog</a></h2>
		<ul>
			{% for post in site.posts %}
				<li>
					{% include post-preview.html %}
				</li>
			{% endfor %}
		</ul>
		<a href="{{ "/blog" | relative_url }}">See more posts</a>
	</section>
</main>