---
layout: default
---
<div id="latest">
	<h2>Download the latest stable release</h2>
	{% for asset in site.github.latest_release.assets %}
		<div id="latest-{{ asset.name | split: "." | last }}" class="asset">
			<a href="{{ asset.browser_download_url }}">{{ site.github.latest_release.name }}</a>
		</div>
	{% endfor %}
</div>

<div id="prerelease">
	<h2>Get the latest pre-release</h2>
	<p>Be the first to get new features by installing a pre-release version. These versions may contain bugs or unfinished functionality.</p>
	{% assign prerelease = site.github.releases | where: "prerelease" | last %}
	{% for asset in prerelease.assets %}
		<div id="prerelease-{{ asset.name | split: "." | last }}" class="asset">
			<a href="{{ asset.browser_download_url }}">{{ release.name }}</a>
		</div>
	{% endfor %}
</div>

<div id="others">
	<a href="https://github.com/BadIdeaException/quartersbrief/releases">Get an older release</a>
</div>