---
layout: default
---
<main>
	<h1>
		Download quartersbrief
	</h1>
	
	<section id="latest">
		<h2>Download the latest stable release</h2>
		{% for asset in site.github.latest_release.assets %}
			<article id="latest-{{ asset.name | split: "." | last }}" class="asset">
				<a href="{{ asset.browser_download_url }}">{{ site.github.latest_release.name }}</a>
			</article>
		{% endfor %}
	</section>
	
	<section id="prerelease">
		<h2>Get the latest pre-release</h2>
		<p>Be the first to get new features by installing a pre-release version. These versions may contain bugs or unfinished functionality.</p>
		{% assign prerelease = site.github.releases | where: "prerelease", true | sort: "tag_name" | last %}
		{% for asset in prerelease.assets %}
			<article id="prerelease-{{ asset.name | split: "." | last }}" class="asset">
				<a href="{{ asset.browser_download_url }}">{{ prerelease.name }}</a>
			</article>
		{% endfor %}
	</section>
	
	<section id="others">
		<a href="https://github.com/BadIdeaException/quartersbrief/releases">Get an older release</a>
	</section>
</main>