---
layout: default
stylesheet: landing.css
---

<div class="hero">
	<img id="logo" src="{{ "/assets/img/logo.svg" | relative_url }}"/>
	<div>
		<h1 id="branding">
			<div>World of Warships</div>
			<div>quarters<wbr>brief</div>
		</h1>
		<div class="quote">
			<p>If you know the enemy and know yourself, you need not fear the result of a hundred battles.</p>
			<p>If you know yourself but not the enemy, for every victory gained, you will also suffer a defeat.</p>
			<p>If you know neither the enemy nor yourself, you will succumb in every battle.</p>
			<div class="attribution">Sun Tsu, The Art of War</div>
		</div>
	</div>
</div>

<div class="about">
	<p>Quartersbrief displays tailored information about the ships in your battle, giving you the edge you need for victory.</p>
	<div>
		<a class="button" tabindex="0" href="learn-more.html">Learn more</a>
		<a class="button solid" tabindex="0" href="download.html">Download</a>
	</div>
</div>

<div class="posts">
	<h2>Blog</h2>
	<ul>
		{% for post in site.posts %}
			<li tabindex="0">
				{% include post-preview.html %}
			</li>
		{% endfor %}
	</ul>
</div>
