@use 'colors';

footer {
	background-color: colors.$background-dark;
	font-size: 75%;
	padding: 1em;

	p {
		text-align: center;
	}

	ul {
		display: flex;
		justify-content: space-evenly;

		li {
			padding-left: 1ch;
		}

		li::marker {
			display: inline-block;
			font-size: 80% !important; // Prevent the font: var(--fa-font-...) from overriding
		}

		li.legal::marker {
			font: var(--fa-font-solid);
			content: '\e447';
		}
		li.feed::marker {
			font: var(--fa-font-solid);
			content: '\f09e';
		}
		li.github::marker {
			font: var(--fa-font-brands);
			content: '\f09b';
		}
	}	
}