@use 'colors';

a.post-preview {
	display: block;
	text-decoration: inherit;
	
	.badge {
		color: colors.$background;
		background-color: colors.$accent;
		margin-left: 3em;
		border-radius: 2pt;
	}
	
	&:visited {
		// Do not style articles that have already been read differently
		color: inherit;
		
		// "Hide" the badge by setting both fore- and background color to the page's background color.
		// We have to use this hack because the display property is not stylable in :visited pseudo-class
		// for privacy reasons.
		// See https://developer.mozilla.org/en-US/docs/Web/CSS/Privacy_and_the_:visited_selector
		.badge {
			color: colors.$background;
			background-color: colors.$background;
		}
	}
		
	h3 {
		margin: 0;
		font-size: 150%;
	}
	
	.subtitle {
		margin: 0.5rem 0;
		font-size: 100%
	}
}
