---
---
@import 'base';
@import 'colors';

.hero {
	margin: 5rem 0;
	padding: 5rem;
	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	// Add vertical space if flexbox has wrapped:
	row-gap: 8rem;
	
	background-color: $background-dark;
	
	h1 {
		margin: 0;
		line-height: 1;
		font-style: italic;
	}
	
	h1 > :first-child {
		font-variant: small-caps;
		font-size: 30pt;
		letter-spacing: 4pt;
		font-weight: 200;
	}

	h1 > :nth-child(2) {
		font-size: 60pt;
		letter-spacing: 13pt;
		font-weight: 700;
		line-height: 1ex;
	}

	.quote {
		width: fit-content;
		margin-top: 8rem;
		
		font-size: 150%;
		letter-spacing: 0.01ch;
	}
	
	.quote > p {
		max-width: 60ch; 
	}
  
	.quote > .attribution {
		width: 100%;
		margin-top: 2rem;
		font-style: italic;
		text-align: right;
	}
}

.about {
	margin: 8rem auto;
	max-width: min(60ch, 80%);

	font-size: 200%;
	text-align: center;	
}

a {
	cursor: pointer;
}

.button {
	display: inline-block;
	width: 15ch;
	margin: 1.5em;
	padding: 1ex 1em;

	border: 2pt solid $text;
	border-radius: 4pt;
	
	transition: all 333ms;
	
	&:focus,
	&:hover {
		box-shadow: 0 0 8pt white;
		outline: none;
	}		
}

.solid {
	color: $background;
	background-color: $text;
}
